{% extends "base.html" %}

{% block title %}
Repositorio - Admin
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='global/css/form_chng_pswd.css')}}">
{% endblock css %}

{% block logout %}
{% include 'comps/desplegable-admin.html' %}

{% endblock logout %}

{% block pathusr %}
<li class="breadcrumb-item"><a href="{{url_for('admin_panel')}}"><i class="bi bi-house-door-fill"></i></a></li>
<li class="breadcrumb-item active"><a href="">Cambiar contraseña</a></li>

<!-- 
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Library</li> 
-->


{% endblock pathusr %}

{% block body %}

<form method="POST" action="{{ url_for('admin_change_pswd') }}" id="" class="form-login">
  {{ form.csrf_token }}
  <div class="setNewPswd">
    {{ form.pswd1.label(class_="") }}
    <i id="newPswd" class="bi" aria-hidden="true"></i>
    {{ form.pswd1(placeholder="Ingresa la nueva contraseña", class_="form-control", type="password") }}
  </div>
  <div class="setNewPswd">
      {{ form.pswd2.label(class_="")}}
      <i id="confNewPswd" class="bi" aria-hidden="true"></i>
      {{ form.pswd2(placeholder="Confirma la nueva contraseña", class_="form-control", type="password", maxlength="20")}}
  </div>
  <div class="btn_f">
    <input type="submit" value="Cambiar contraseña" class="btn btn-primary" id="btnCambiarContraseña" />
  </div>
</form>

<div class="rules_pswd">
  <small>
    <legend>Reglas para establecer una nueva contraseña: </legend>
  </small>
  <ul>
    <li>Al menos 10 caracteres y máximo 20 caracteres.</li>
    <li>Debe contener al menos 1 caracter especial.</li>
    <li>Debe contener al menos 1 número.</li>
    <li>Debe contener al menos 1 letra mayúscula.</li>
  </ul>
</div>

{% endblock body%}

{% block js %}
<script src="{{url_for('static', filename='2_users/a.2_change_pswd/change_pswd.js')}}" type="module"></script>

{% endblock js %}
