<!-- {# documentos públicos inicio #} -->
<li class="nav-item active">
  <a class="nav-link" href="{{url_for('pub_documents')}}" target="">
    <i class="bi bi-file-earmark-text-fill"></i> Documentos
  </a>
</li>
<!-- {# documentos públicos final #} -->

<!-- {# inicio sesiones inicio #} -->
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false">
		Inicio Sesión
	</a>

	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="{{url_for('home')}}">Usuario</a>
		<a class="dropdown-item" href="{{url_for('login_admin')}}">Administrador</a>
	</div>
</li>
<!-- {# inicio sesiones final #} -->
